nav, article, header, section, footer {
	display: block;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 1.4;
	margin: 0;
	color: #000;
	vertical-align: top;
	display: table;
}

article {
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 10px;
}

h1 {
	margin: 10px 0;
}

h3 {
	margin: 0;
}

p {
	margin-top: 5px;
}

iframe {
	display: block;
	border: 0;
	width: 100%;
	height: 800px;
}

[hidden], .hidden {
	display: none;
}

.sidebar, .main {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	height: 100%;
}

.sidebar {
	display: table-cell;
}

.main {
	display: table-cell;
	width: 100%;
}

#main .section {
	display: none;
	height: 100%;
	width: 100%;
	overflow: auto;
}

#main .section.active {
	display: block;
}

#pdfjs {
	overflow-y: auto;
}
